<template>
    <v-card height="500" class="d-flex flex-column align-center">
        <v-card-title class="mt-4">Modifica Profilo</v-card-title>
        <div class="mt-6">
            <v-text-field label="username" v-model="user.username" outlined></v-text-field>
            <v-text-field label="email" v-model="user.email" outlined></v-text-field>
            <v-text-field label="height" v-model="user.height" outlined></v-text-field>
            <v-text-field label="weight" v-model="user.weight" outlined></v-text-field>
        </div>
        <v-card-actions class="d-flex flex-row justify-space-around">
            <v-spacer></v-spacer>
            <v-btn @click="closeDialog()" class="mr-5" small color="error">Annulla</v-btn>
            <v-btn @click="updateUser()"  class="ml-5" small color="primary" >Fatto</v-btn>
        </v-card-actions>

    </v-card>
</template>

<script>
import axios from 'axios'

export default{
    props: ['edit_profile_dialog'],
    data (){
        return{
            user: {},
            close_edit_dialog: this.edit_profile_dialog,
            error: '',
        }
    },
    methods: {
        async getUser(){
            const payload = {
                username:  this.$session.get('username')
            }
            let resp = await axios.post('/edit/profile/get', payload)
            this.user = resp.data
        },

        async updateUser(){
            const payload = {
                user: this.$session.get('username'),
                username: this.user.username,
                email: this.user.email,
                height: this.user.height,
                weight: this.user.weight,
            }
            let resp = await axios.post('/edit/profile/update', payload)
            if (resp.data === 'Success'){
                this.closeDialog()
            }
            else{
                this.error = 'Something gone wrong'
            } 
        },

        closeDialog(){
            this.close_edit_dialog = false
            this.$emit('close', this.close_edit_dialog)
            location.reload()
        }

    },
    mounted(){
        this.getUser()
    }
}
</script>