<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise execution</title>
</head>
<body>
        <h4>{{ ex_video.name }}</h4>
        <p>bau</p>
        <video controls width="250">

            <source src="videos/IMG_1289.mp4"
                    type="video/mp4">
        </video>

        <img src="/backend/videos/logout.png" >

</body>
</html>